# use direnv to update the flake.lock at most once a day.   
# This ensures the lates info for any update
test -d .direnv || mkdir -p .direnv
now="$(date +%Y-%m-%d)"
if ! test -s .direnv/pull-date || test "$now" != "$(cat .direnv/pull-date)"; then
  nix flake update
  echo "$now" > .direnv/pull-date
fi